html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
} 
#root{
  min-height: 100vh;
  background: rgba(36,97,125,1);
  background: -moz-linear-gradient(top, rgba(36,97,125,1) 0%, rgba(15,65,87,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,97,125,1)), color-stop(100%, rgba(15,65,87,1)));
  background: -webkit-linear-gradient(top, rgba(36,97,125,1) 0%, rgba(15,65,87,1) 100%);
  background: -o-linear-gradient(top, rgba(36,97,125,1) 0%, rgba(15,65,87,1) 100%);
  background: -ms-linear-gradient(top, rgba(36,97,125,1) 0%, rgba(15,65,87,1) 100%);
  background: linear-gradient(to bottom, rgba(36,97,125,1) 0%, rgba(15,65,87,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24617d', endColorstr='#0f4157', GradientType=0 );
}